<div class="sign-up-form">
  <h2><%= t 'authentication.sign_up'%></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group row">
      <%= f.label :email, class: "col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :password, class: "col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        <% if @minimum_password_length %>
          <small class="form-text text-muted">
            (<%= @minimum_password_length %> characters minimum)
          </small>
        <% end %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :password_confirmation, class: "col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit t('authentication.sign_up'), class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>