<%= form_with(model: article, local: true) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@article.errors.count, "error")} prohibited this post from being saved:" %>
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :lock_version %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, size: 'autox3', class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :text %>
    <%= f.text_area :text, id: "text-editor" %>
  </div>

  <div class="form-group form-check">
    <%= f.check_box :published %>
    <%= f.label 'Publish?', class: "control-label" %>
  </div>

  <div class="form-group">
    <%= f.button 'Save', class: 'btn btn-success' %>
  </div>
<% end %>
