<% if !@article.published %>
  <% if current_user != @article.author %>
    <%= render_404%>  
  <% end %>
<% end %>

<div class="col-xs-12 single-content">
  <div class="article-content">
    <div class="title">
      <h1><strong>
          <%= @article.title %>
      </strong></h1>
      <hr>
    </div>

    <div>
      <%= markdown(@article.text) %>
    </div>
    <div class="author">
      <span class="mb-2 text-muted">
        By <%= @article.author.email %>, <%= @article.published_at.strftime("%d/%m/%Y, %H:%M")%>
      </span>
    </div>
  </div>
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', articles_path %>
  <%= commontator_thread(@article) %>
</div>