.newspaper {

    // &-main-content {
    //     padding: 50px;
    // }

    padding-bottom: 0px;

    &-sidebar{
        background-color: red; 
        height: 100%;
        position: fixed !important;
        width: 37.5% !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 450ms;
    }

    &-article {
        display: flex;
        padding: 30px 0;
        border-bottom: solid 1px gray;
    }

    &-home-page-articles{
        // height: 90vh;
        overflow: auto;
        background-color: whitesmoke;
        padding: 0px 30px 0px;
    }

    &-article-preview{
        
        h2 {
            font-weight: 700;

            a {
                text-decoration: none;
                color: #333337;
                border: none;
                transition: color 0.5s;
            }
            a:hover {
                color: #b6b6b6;
            }
        }
        
        p {
            font-size: 16px;
        }

        span {
            font-size: 12px;
        }
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}

.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}