<div class="sign-in-form">
  <h2><%= t 'authentication.sign_in'%></h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group row">
      <%= f.label t('authentication.email'), class: "col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label t('authentication.password'), class: "col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group form-check">
        <%= f.check_box :remember_me %>
        <%= f.label t('authentication.remember_me'), class: "control-label" %>
      </div>
    <% end -%>

    <div class="form-group">
      <%= f.submit t('authentication.sign_in'), class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>