/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require commontator/application
 *= require_tree .
 *= require_self
*/
@import "bootstrap";
@import "simplemde.min";
// @import "simplemde";
// @import "froala_editor.min.css";
// @import "froala_style.min.css";
// @import "font-awesome-sprockets";
// @import "font-awesome";
// @import 'plugins/char_counter.min.css';
// @import 'plugins/code_view.min.css';
// @import 'plugins/colors.min.css';
// @import 'plugins/emoticons.min.css';
// @import 'plugins/file.min.css';
// @import 'plugins/fullscreen.min.css';
// @import 'plugins/help.min.css';
// @import 'plugins/image_manager.min.css';
// @import 'plugins/image.min.css';
// @import 'plugins/line_breaker.min.css';
// @import 'plugins/quick_insert.min.css';
// @import 'plugins/special_characters.min.css';
// @import 'plugins/table.min.css';
// @import 'plugins/video.min.css';

a:hover{
   background-color: transparent;
}

.navbar{
    z-index: 8;
}

.sign-in-item {
    cursor: pointer;
    color: white !important;
}

.sign-in-item:hover {
    cursor: pointer;
    color: #b2defb;
}

.sign-in-item > a{
    color: white !important;
}

#sign-in-user-icon {
    width: 20px;
    height: 20px;
}

.wrapper {
   margin-top: 3.5rem;
//    padding-top: 1rem;
   min-height: 100vh;
   background-color: #f0f0f0;
}