// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.single-content{
    padding: 0 15% 150px;

}

.article-content {
    background-color: whitesmoke;
    border: 1px lightgray;
    padding: 30px 3% 20px;
}

.title > h1 {
    font-size: 55px;
    letter-spacing: -1pt;
    margin-bottom: .5rem;
    line-height: 1.1;
    color: inherit;
    margin-top: 0;
}

.author > span {
    font-size: 13px;
}