<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
        <%= link_to 'Newsach', root_path, class: "navbar-brand" %>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Last</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Popular</a>
          </li>
        </ul>
        <% if user_signed_in? %>
          <%= link_to('Sign out', destroy_user_session_path, method: :delete) %>
        <% else %>
          <div class="sign-in-item">
            <span>
              <%= image_tag('user_icon.svg', id: 'sign-in-user-icon') %>
              <%= link_to(t('authentication.sign_in'), new_user_session_path)%>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </nav>

  