<div class="row newspaper">
    <section class="col-lg-5 col-12 newspaper-sidebar">
        <!--<div class="newspaper-sidebar">
            Some info
        </div>-->
        Some info
    </section>
    <section class="col-lg-7 col-12 ml-auto newspaper-main-content">
        <div class="newspaper-home-page-articles animated fadeIn">
            <% @articles.each do |article| %>
                <div class="newspaper-article">
                    <div class="newspaper-article-preview">
                        <h2><%= link_to article.title, article %></h2>
                        <p><%= article.description %></p>
                        <span class="mb-2 text-muted">
                            By <%= article.author.email %>, <%= article.published_at.strftime("%d/%m/%Y, %H:%M")%>
                        </span>
                    </div>
                </div>
            <% end %>
        </div>
    </section>
</div>